<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jack.general.account.AccountMapper">
     
    <select id="getById" parameterType="Long" resultType="Account">
         SELECT * FROM account WHERE Id = #{id}
    </select>
    
    <insert id="insert" parameterType="Account">
        INSERT INTO account(Id, UserName, Password, RealName, AuthoritiesList, Creator, InsertTime)
        VALUES(#{id}, #{userName}, #{password}, #{realName}, #{authoritiesList}, #{creator}, #{insertTime})
    </insert>
    
    <delete id="deleteById" parameterType="Long">
        DELETE FROM account WHERE Id = #{id}
    </delete>
    
    <update id="update" parameterType="Account">
          UPDATE account SET
           RealName = #{realName},
           AuthoritiesList = #{authoritiesList}
           WHERE Id = #{id}
    </update>

</mapper>